---
title: Eloquent JavaScript Exercises
---

<div class="welcome">
  <h1>Eloquent JavaScript Exercises</h1>

<!--   <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
    </p><!-- .doc -->

<!--     <ul>
      <% 5.times do |num| %>
      <li>Count <%= num %></li>
      <% end %>
    </ul>
 -->

 </div><!-- .welcome -->